
<form action="/meetups" method="post">

  <label>Meetup name:</label> 
    <br>
  <input type="text" name="name" id="name">
    <br><br>
  <label>Description:</label>
    <br>
  <textarea name="description" id="description"></textarea>
    <br><br>
  <label>Location:</label>
    <br>
  <input type="text" name="location" id="location">
    <br><br>

  <input type="submit" value="Create Meetup">

</form>