<h1>Welcome, <%= @user.name %>!</h1>

<a href="/meetups/create">Create Meetup</a>
<br><br>

<h2>All Meetups</h2>
<br><br>
<% @meetups.each do |meetup|%>
    <h3><%= meetup.name%></h3>
    <br>
    <p><%= meetup.description%></p>
    <br>
    <p><%= meetup.location%></p>
    <br><br>
<% end %>