<h1> Log In</h1>
<hr/>
<form action="/login" method="post">

    <label>Username:</label><br>
        <input type="text" name="name" id="name" required><br>
    <label>Password:</label><br>
        <input type="password" name="password" id="password" required>
    <br>
    <br>
    <button class="btn btn-success" type="submit">Log In</button>

</form>