<h1>Welcome to MeetApp!</h1>
    <br>
<h4>Please sign up below:</h4>
    <hr/>
    <br>
<form action="/signup" method="post">

    Name: <br><input type="text" name="name" id="name" required><br><br>
    Email: <br><input type="email" name="email" id="email" required><br><br>
    Password: <br><input type="password" name="password" id="password" required>
    <br><br>
    <button class="btn btn-success" type="submit">Sign Up</button>
    <br>

</form>